{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}

{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}

{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card border-5 border-white bg-light shadow-lg">
        <img src="../images/{{article.image}}" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <header>
            <h1 class="card-title lucky">
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                title="Permalink to {{ article.title|striptags }}">{{article.title }}</a>
            </h1>
          </header>
          <article class="card-text">
            {{article.summary}}

            <div class="row no-gutters">
              <div class="col-md-6 border-end">
                <h2>Ingredients</h2>
                <ul>
                  {% for ingredient in article.ingredients %}
                  <li>{{ ingredient }}</li>
                  {% endfor %}
                </ul>

              </div>
              <div class="col-md-6">
                <h2>Steps</h2>
                <ol>
                  {% for step in article.metadata.steps %}
                  <li>{{ step }}</li>
                  {% endfor %}
                </ol>

              </div>
            </div>


          </article>
        </div>
        <div class="card-footer text-body-secondary">
          {% if article.tags %}
          <div class="tags">
            Tags:
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}