{% extends "base.html" %}
{% block content %}
<section id="content">
    {% block content_title %}{% endblock %}

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for article in articles_page.object_list %}
            <div class="col">
                <a href="{{ SITEURL }}/recipes/{{ article.slug }}" rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">
                    <article class="card text-courgette border-5 border-white bg-light shadow-lg">
                        <img src="{{ SITEURL }}/images/{{article.image}}" class="card-img-top img-fluid"
                            alt="Description of the image">
                        <div class="card-img-overlay card-img-overlay vertical-center">
                            <header>
                                <div class="text-white text-overlay-dark text-center">
                                    <h2>{{ article.title }}</h2>
                                </div>
                            </header>
                        </div>
                    </article>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


    {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
    {% endif %}
</section><!-- /#content -->
{% endblock content %}