{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card border-5 border-white bg-light shadow-lg">
        <img src="../images/babaganush.png" class="card-img-top img-fluid" alt="...">
        <div class="card-body text-open-sans">
          <header>
            <h1 class="card-title text-courgette">{{ page.title }}</h1>
          </header>
          <article class="card-text text-courgette">
            {{ page.summary }}
            {{ page.content }}
            <p class="d-flex align-items-center">
              <img class="me-2" src="../images/basket.png" style="height: 1em">Time: foo
            </p>

          </article>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
