{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card border-5 border-white bg-light shadow-lg mb-3">
        <img src="../images/{{page.image}}" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <header>
            <h1 class="card-title text-courgette">{{page.title }}</h1>
          </header>
          <article class="card-text">
            <p class="text-courgette">{{page.description}}</p>
            <div class="mt-3 row no-gutters">
                {{page.content}}
              </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
