{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <ul class="tagcloud">
                {% for tag, articles in tags|sort %}
                <li>
                    <a class="btn btn-outline-secondary d-inline-flex align-items-center btn-lg"
                        href="{{ SITEURL }}/{{ tag.url }}" role="button">
                        <img class="me-2" src="../images/tags/{{tag}}.png" style="height: 1.2em">{{ tag }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>

{% endblock %}